:host {
  .container-info {
    width: 100%;
    height: auto;
    max-width: 250px;
    padding: 20px;
    background-color: var(--bg-color2);
    border-radius: 20px;
    border: 1px solid var(--color4);
    flex-direction: column;

    .info-me {
      flex-direction: column;
      .img-me {
        width: 100px;
        border-radius: 50%;
        border: 2px solid var(--color-des);
      }

      h2 {
        color: var(--color1);
        font-size: 30px;
        margin: 7px 0;
      }

      .esp {
        width: 122px;
        height: 27px;
        border-radius: 20px;
        background-color: var(--color-des);
        align-items: center;
        justify-content: center;

        p {
          font-size: 12px;
          text-align: center;
          color: var(--color3);
          margin-top: 10px;
        }
      }
    }

    .line {
      margin: 20px 0;
    }

  }
  .icons-link {
    width:80%;
  }

  @media screen and (max-width: 1044px) {
    .container-info {
      width: 100%;
      height: auto;
      max-width: 250px;
      padding: 20px;
      border-radius: 20px;
      border: 1px solid var(--color4);
      flex-direction: column;
     }


  }
}
