<div class="content flex">
  <div class="container-title">
    <h2 class="main-title">Sobre</h2>
  </div>

  <div class="description">
    <p>Sou formada em Ciência da Computação pela Cruzeiro do Sul, e no momento estou cursando Sistemas de Informação pela Descomplica. Anteriormente, trabalhava com PHP/Laravel no backend e no frontend HTML, CSS e Javascript, desenvolvendo e melhorando uma aplicação Web para o setor imobiliário por aproximadamente dois anos. Participava do processo de seleção de novos colaboradores, dava suporte aos colegas de equipe para repasse de conhecimento/treinamento e analisava a saúde da aplicação (performance) através da ferramenta New Relic. Também identificava a causa raiz de bugs e aplicava as correções necessárias. Gosto de estudar nas horas vagas, fiz um curso na NoneClass de desenvolvimento de jogos 2D, tenho interesse em trabalhar com React e construir API's.</p>
  </div>

  <div class="hab">
    <h2 class="main-title">Habilidades</h2>
    <div class="icons">
      <img src="../../../../assets/icon/html.png" alt="HTML" title="HTML">
      <img src="../../../../assets/icon/css.png" alt="CSS" title="CSS">
      <img src="../../../../assets/icon/js.png" alt="Javascript" title="Javascript">
      <img src="../../../../assets/icon/angular.png" alt="Angular" title="Angular">
      <img src="../../../../assets/icon/laravel.png" alt="Laravel" title="Laravel">
      <img src="../../../../assets/icon/nestjs.png" alt="NestJs" title="NestJs">
    </div>
  </div>
</div>
