<div class="content">
  <nav class="menu">
    <ul class="flex flex-center">
      <a href="#" [class.current]="isShowInfo() == 'about'" (click)="showInfoAbout('about', $event)"><li>Sobre</li></a>
      <a href="#" [class.current]="isShowInfo() == 'resume'" (click)="showInfoAbout('resume', $event)"><li>Resumo</li></a>
      <a href="#" [class.current]="isShowInfo() == 'project'" (click)="showInfoAbout('project', $event)"><li>Projetos</li></a>
    </ul>
  </nav>
<div class="container-content">
  @switch (isShowInfo()) {
    @case ('about') {
      <div class="about "><app-content-about-me/></div>
    }
    @case ('resume') {
      <div class="resume "><app-content-resume/></div>
    }
    @case ('project') {
      @defer(on viewport){
        <div class="about "><app-content-project/></div>
        } @placeholder {
        <section>
          <h2>Carregando todos os projetos desenvolvidos...</h2>
        </section>
        } @error {
        <section>
          <h2>Ocorreu um erro no download do componente, tente novamente...</h2>
        </section>
        }

    }
    @default {
      <div class="about "><app-content-about-me/></div>
    }
  }


</div>
</div>

