:root {
  --bg-color: #0C0C0C;
  --bg-color2: #1C1C1C;
  --bg-color3: #191919;
  --bg-color4: #2E2E2E;

  --color-black: #000;
  --color1: #fff;
  --color2: #DADADA;
  --color3: #E1E1E1;
  --color4: #6D6D6D;
  --color5: #9F9C9C;
  --color-icon: #1E1E1E;

  --color-des: #AD2424;

  --font-text: "Rokkitt", serif;
  --font-title: font-family: "Esteban", serif;

}
